body {
  font-family: Arial, Helvetica, sans-serif;
  color: #00204e;
  font-size: 120%;
  line-height: 1.7;
}
code {
  font-family: Arial, Helvetica, sans-serif;
  color: #00204e;
  font-size: 100%;
  text-shadow: 4px 4px 0 #DDD;
}