body {
  max-width: 70%;
  margin: auto;
  padding: 1em;
  line-height: 1.6em;
  color: #00204e;
  background: #fff;
}

/* header and footer areas */
.menu { 
  padding: 0; 
}
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #f9f9f9; /* #ddd */
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta { 
  text-align: left;
  font-size: 1.05em;
  /*font-weight: bold;*/
}

/* Add darker background color to highlight current active menu */
/* This should be used in conjunction with header.html */
.menu a.active {
  background: #fff; /* #ddd */
  color: #004250;
  border: 1px solid #eee;
  font-weight: bold;
}

footer { 
  text-align: center;
}


.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

ul.circle       {  
  list-style-type: circle;     
  line-height:    1.4em;
  margin-left:    -20px;      
}

ol {
  list-style-type: decimal;     
  line-height:    1.4em;
  margin-left:    -20px;  
}

ul.decimal       {  
  list-style-type: decimal;     
  line-height:    1.4em;
  margin-left:    -20px;      
}

div.title       {
  color:   #00204E;   
}

li.paper        {   
  font-size:      95%;
  padding-left:  10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  /*background: #fffaff;*/
  border-left: 1px solid #ddd;     
}

div.abstract    {   
  display:        none;
  font-size:      90%;
  color:        black;
  padding:        5px;
  margin:         10px;
  margin-right:   20px;
  margin-bottom:  10px;
  line-height:    1.4em; 
  /*border: 2px solid #eee;*/
  background:   #eee; /* rgb(250, 250, 231); f9f9f0*/
}


.abstract p     {   
  margin:         0.6px;        
}

/* unvisited link */
a:link {
  color: #007C41;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #007C41;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #A8B400;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #00204e;
  text-decoration: underline;
}

/* code */
pre {
  border: 1px solid #ddd; 
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

/* code { background: #f9f9f9; } */

pre code { background: none; }

.img-circular{
  border-radius: 66px;
}

/* misc elements */
img, iframe, video {max-width: 100%; }
main { hyphens: auto; }
blockquote {
  margin: auto;
  background: #f9f9f9;
  border-left: 0px solid #ccc;
  padding: 0.02px 1em 0.02px;
}

table {
  width: auto;
  margin-right: auto;
  margin-left: 0px;
  border-top: 0px solid #666;
  border-bottom: 0px solid #666;
}
table thead th { 
  border-bottom: 0px solid #ddd; 
}
th, td { 
  padding: 2px; 
  width: auto;
}
/*thead, tfoot, tr:nth-child(even) { background: #eee; } */


/* figure and image */
figure {
  display: inline-block;
  text-align: center;
  border: 0px dotted gray;
  margin: 0px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}

figure figcaption {
  border: 0px dotted blue;
  margin-bottom: 60px;
  text-align: center;
}